section {
    display: flex;
    flex-direction: row;
}

body {
    background-color: #87aaaa50;
    background-image: url(WH40BG.jpg);
    background-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: 22px;
}

header {
    padding: 0;
    background-color: #20273bcb;
    align-content: center;
    font-size: 30px;
}
#conteiner {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: #182336be;
}
#leftbar {
    margin-left: 10px;
    margin-top: 100px;
    line-height:60px;
    padding: 10px;
    float: left;
    border: 10px;
    width: auto;
    max-width: 20%;
    min-width: 10%;
    background-color: #fdffff00;  
}
main {
    float: left;
    align-content: center;
    width: auto;
    padding:20px 50px;
    background-color: #ebf6f700;
    max-width: 60% ;
    min-width: 50%;
}
#rightbar {
    margin-top: 100px;
    padding: 10px;
    float: right;
    width: auto;
    max-width: 20%;
    min-width: 10%;
    background-color: #fdffff00;
}
footer {
    font-size: 20px;
    padding: 10px;
    padding-left: 40px;
    clear: both;
    color: rgb(202, 124, 102);
    background-color: #20273bcb;
    text-align: right;
}


#list_1{
    font-size: 28px;
}
#list_2{
    font-size: 24px;
}
.image {
    float: left;
    padding: 5px;
    max-width: 100%;
}.gif {
    padding: 5px;
    max-width: 100%;
}
.justifined{
    align-content: justify;
    padding: 0;
    margin: 0;
}
a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color:rgb(136, 2, 2);
}
h1, h2, h3{
    text-align: center;
}
@media print {
    body {
        font-size: 0.42cm;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #000000;
        background-color: #ffffff;
    }
    header{
        display: none;
    }
    #conteiner {
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #leftbar {
        display: none;
    }
    main{
        width: 100%;
        clear: both;
        padding:1cm 2cm;
    }
    #rightbar {
        display: none;
    }
    footer {
        font-size: 0.5cm;
        padding: 0.5cm;
        padding-right: 2cm;
        clear: both;
        color: rgb(0, 0, 0);
        background-color: #adadad;
        text-align: right;
    }
    #list_1{
        font-size: 0.48cm;
    }
    #list_2{
        font-size: 0.46cm;
    }
    .image {
        float: left;
        padding: 5px;
        max-width: 100%;
    }
    .gif {
        display: none !important;
    }
}
.menu{    
    padding: 0;
    margin: 0;
    background-color: #34d0ebd3;
    width:180px;
    height: 50px;
    text-align: center;
    display: block;
    position: sticky;
}
.menu:hover .mainhover{
    display: block;
    
}
.mainhover{
    margin-top: 10px;  
    padding: 0px 15px 0px 0px;
    display: none;
}
.submenu_1, .submenu_2{
    padding: 0;
    margin: 0;  
    display: block;
}
.subhover_1, .subhover_2{
    padding-left:180px;
    margin: -40px 0 0 0;  
    display: none;
}
.submenu_1:hover .subhover_1 {
display: block;
}

.submenu_2:hover .subhover_2{
display: block;
}
.menu li{
    list-style-type: none;
    background-color: #34d0ebd3;
    width:180px;
    height: 50px;
}
header .menu li:hover, header .menu:hover{
    transition: 0.3s ease-in-out;
    background:#2ba7bdf1;
}